@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;

.header {
  color: #fff;
  margin-bottom: 2rem;

  .edit-button {
    border: 2px solid $primary-color;
    background-color: $primary-color;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }
}
.edit-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin: 3% auto;
  padding: 2rem;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;

    label {
      font-weight: bold;
      cursor: pointer;
    }

    input {
      padding: 5px;
      font-size: 1.2rem;
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
  .edit-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    gap: 10px;
    cursor: pointer;
  }
}
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;

  .account-content-wrapper {
    width: 100%;
    flex: 1;

    .account-title {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: normal;
    }

    .account-amount {
      margin: 0;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .account-amount-description {
      margin: 0;
    }
  }

  .account-content-wrapper.cta {
    .transaction-button {
      display: block;
      width: 100%;
      padding: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1rem;
      border: 2px solid $primary-color;
      background-color: $primary-color;
      color: #fff;
      cursor: pointer;
    }
  }

  @media (min-width: 720px) {
    flex-direction: row;

    .account-content-wrapper.cta {
      flex: 0;
    }

    .transaction-button {
      width: 200px;
    }
  }
}
