@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;

.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border: 2px solid $primary-color;
  background-color: $primary-color;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.save-edit-button,
.cancel-edit-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid $primary-color;
  background-color: $primary-color;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
